.register {
  flex-direction: column;
  height: 70vh;
}
.readyto {
  flex-direction: column;
  margin-top: 20px;
}
.readyto p {
  margin: 0;
  width: 100%;
  font-size: 12px;
  text-align: center;
}
.email p {
  font-size: 14px;
  margin: 0;
  text-align: start;
}
.register input {
  width: 350px;
  height: 30px;
}
.register button {
  width: 350px;
  height: 40px;
  margin-top: 15px;
  margin-bottom: 30px;
  background-color: #01a6e6;
  border: none;
  border-radius: 3px;
  color: white;
  font-weight: 700;
  font-size: 15px;
}
.register button:hover {
  cursor: pointer;
}
.terms {
  border-top: 0.5px solid #b0b0b0;
  border-bottom: 0.5px solid #b0b0b0;
  width: 350px;
}
.terms p {
  width: 100%;
  text-align: center;
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
}
