.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  height: 70px;
}

.logo {
  display: flex;
  align-items: center;
  width: 20%;
}
.imglogo {
  background-image: url("https://img.icons8.com/external-becris-solid-becris/64/000000/external-travel-coronavirus-becris-solid-becris.png");
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
}
.logo h1 {
  font-weight: 500;
  font-size: 20px;
  color: white;
}
.logo img {
  width: 50px;
  height: 50px;
}

#login {
  width: 20%;
  display: flex;
  justify-content: end;
}

.link {
  width: 40px;
  height: 40px;
  background-color: white;
  border: none;
  border-radius: 10px;
}
.link img {
  width: 20px;
  height: 20px;
}
.loginFalse {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  width: 200px;
}
.loginTrue {
  display: flex;
  border-radius: 10px;
  align-items: center;
  height: 40px;
  width: 250px;
  justify-content: space-around;
}
.loginTrue p {
  color: white;
  font-weight: 700;
}
.drop {
  display: flex;
  justify-content: space-around;
  width: 70%;
  background-color: transparent;
}
.user {
  background-color: white;
  border-radius: 10px;
}
.links {
  text-decoration: none;
  color: white;
  font-weight: 700;
}

.links:hover {
  color: #d3d3d3;
}
