/* Filters */
.filters {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

/*  Search bar */
#search {
  width: 100%;
  margin-top: 50px;
}
.search {
  width: 300px;
  height: 30px;
  background-color: white;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  border: 0.1rem solid #dcdcdc;
}
.input {
  width: 30%;
  height: 30px;
  border: 0.1rem solid #dcdcdc;
  border-radius: 10px;
  padding: 0;
  text-align: center;
}
#search-btn {
  width: 10%;
  height: 30px;
  background-color: transparent;
  background-image: url("https://img.icons8.com/external-kiranshastry-lineal-kiranshastry/64/000000/external-search-interface-kiranshastry-lineal-kiranshastry.png");
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
}
#search-btn:hover {
  transform: translateY(-5%);
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}

/*     Properties     */
.properties {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.grid-properties {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  row-gap: 100px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 50px;
  margin-bottom: 100px;
}
.card {
  width: 20vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.card h1 {
  font-size: 100%;
}
.card p {
  margin: 0;
  font-size: 13px;
}
.property-image {
  width: 100%;
  height: 80%;
  border: none;
  background-color: white;
}
.property-image:hover {
  cursor: pointer;
}
.property-image img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.text {
  height: 20%;
  width: 100%;
}
.Filters {
  width: 70%;
  margin: auto;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.filter {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  width: 150px;
  height: 150px;
}
.filter-btn {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  border: 0.1rem solid #dcdcdc;
  height: 40px;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
  color: black;
}
.dropdown-menu {
  position: relative;
  top: 10px;
  left: 66px;
  width: 150px;
  height: 100px;
  transform: translateX(-45%);
  background-color: white;
  border-radius: 10px;
  border: 0.1rem solid #dcdcdc;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  transition: transform 150ms ease-in-out;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.options {
  text-decoration: none;
  color: black;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.options:hover {
  background-color: #dcdcdc;
}
.item {
  list-style: none;
}
.Modal {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
}
